* {
  user-select: none;
}

.quiz-page {
  background-color: #222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin-top: 100px;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.question-box {
  background-color: #00ffff;
}

.question-box-upper {
  transition: all 0.5s ease-in-out;
  background-color: #00ffff;
  transform: translateY(-250px);
  height: 3000px;
}

.question-box-downer {
  background-color: #00ffff;
  transition: all 0.5s ease-in-out;
  transform: translateY(-40px);
}

.question-text {
  margin-inline: 10px;
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.answer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-btn {
  transition: all 0.5s ease-in-out;
  background-color: #222;
  color: #fff;
  border: none;
  margin-inline: 5px;
  border-radius: 5px;
  width: 100px;
  height: 60px;
  font-size: 1rem;
  font-weight: 600;
}

.answer-btn:hover {
  transition: all 0.5s ease-in-out;
  background-color: #ddd;
  color: #111;
}

.win {
  transition: all 0.5s ease-in-out;
  background-color: green;
  transform: translateY(-50px);
}

.lose {
  transition: all 0.5s ease-in-out;
  background-color: red;
}

nav {
  background-color: #ddd;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.router-link {
  margin-inline: 5px;
  width: 150px;
  height: 50px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #222;
  color: #ddd;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.router-link:hover {
  height: 60px;
  width: 160px;
  transition: all 0.3s ease-in-out;
  background-color: #0cbcbc;
  color: #111;
  border: solid 2px #00ffff;
  box-shadow: 0px 0px 50px #00ffff;
}

.btn {
  transition: 0.3s ease-in-out;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

.btn:hover {
  transition: 0.3s ease-in-out;
}

.router {
  text-decoration: none;
}

.is-start {
  background-color: #222;
}

.home-box {
  background-color: #555;
  padding: 15px;
  text-align: center;
}

.hint-text {
  padding: 10px;
  background-color: #777;
  text-align: start;
  border-radius: 15px;
}

.add-question-box {
  transition: all 0.5s ease-in-out;
  transform: translateY(-1000px);
  margin-top: -100px;
  margin-bottom: -50px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  width: 550px;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 15px;
}

.shown-add-question-box {
  transition: all 0.5s ease-in-out;
  transform: translateY(0px);
}

.add-question-box::after {
  animation: close 1s ease-in-out;
}

.answers {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 10px;
  padding-left: 20px;
}

.input {
  margin: 5px;
  padding: 6px;
  border: none;
  border-radius: 3px;
}

input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

.question-input {
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.answer-input {
  font-size: 1rem;
  font-weight: 500;
}

.add-question-btn {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  font-size: 1rem;
  background-color: #222;
  color: #ffff;
}

.add-question-btn:hover {
  background-color: #444;
}

.add-quiz-btn {
  transition: all 0.4s ease-in-out;
  margin-block: 15px;
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
}

.open-form {
  transition: all 0.4s ease-in-out;
  background-color: green;
  color: #fff;
}

.close-form {
  transition: all 0.4s ease-in-out;
  background-color: red;
  color: #ddd;
}

.all-questions-box {
  background-color: #999;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 30px;
}

.all-questions-item {
  padding: 10px;
  border: solid 1px #fff;
  border-radius: 5px;
}

.all-qu-answers {
  text-align: center;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(2, 2fr);
  padding: 10px;
  gap: 30px;
  font-size: 1rem;
  font-weight: 500;
}
.answer-item {
  padding: 5px;
  border: 1px solid #111;
  border-radius: 10px;
}

.true-answer {
  background-color: green;
}

@keyframes upIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes open {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes close {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-1000px);
  }
}
